@model Nop.Plugin.Payments.CashfreePayments.Models.ConfigurationModel
@inject Nop.Core.IWebHelper webHelper
@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")

@*<script>
	$(document).ready(function () {
        $("#@Html.IdFor(model => model.PassProductNamesAndTotals)").click(togglePassProductNamesAndTotals);
	    togglePassProductNamesAndTotals();
	});

    function togglePassProductNamesAndTotals() {
        warningValidation('@Url.Action("RoundingWarning", "PaymentCashfreePayments")', '@Html.NameFor(model => model.PassProductNamesAndTotals)',
            { passProductNamesAndTotals: $('#@Html.IdFor(model => model.PassProductNamesAndTotals)').is(':checked') });
    }
</script>*@

<form asp-controller="PaymentCashfree" asp-action="Configure" method="post">
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-body">
                @Html.Raw(T("Plugins.Payments.CashfreePayments.Instructions", $"{webHelper.GetStoreLocation()}Plugins/PaymentCashfree/HandleResponse"))
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Title_OverrideForStore" asp-input="Title" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Title" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Title" />
                        <span asp-validation-for="Title"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AppID_OverrideForStore" asp-input="AppID"  asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AppID" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AppID" />
                        <span asp-validation-for="AppID"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="SecretKey_OverrideForStore" asp-input="SecretKey"  asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="SecretKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SecretKey" />
                        <span asp-validation-for="SecretKey"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Description_OverrideForStore" asp-input="Description" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Description" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Description" />
                        <span asp-validation-for="Description"></span>
                    </div>
                </div> 
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="ActiveEnvironmentId_OverrideForStore" asp-input="ActiveEnvironmentId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="ActiveEnvironmentValues" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="ActiveEnvironmentId" asp-items="Model.ActiveEnvironmentValues" />
                        <span asp-validation-for="ActiveEnvironmentId"></span>
                    </div>
                </div>
                 <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="ApiVersion_OverrideForStore" asp-input="ApiVersion" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="ApiVersion" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ApiVersion" />
                        <span asp-validation-for="ApiVersion"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PaymentTypeId_OverrideForStore" asp-input="PaymentTypeId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PaymentTypeValues" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="PaymentTypeId" asp-items="Model.PaymentTypeValues" />
                        <span asp-validation-for="PaymentTypeId"></span>
                    </div>
                </div>
                 <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PaymentMethods_OverrideForStore" asp-input="PaymentMethods" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PaymentMethods" />
                    </div>
                   <div class="col-md-9">
                        <nop-editor asp-for="PaymentMethods" />
                        <span asp-validation-for="PaymentMethods"></span>
                            <ul class="common-list">
                                <li>
                                    @T("Plugins.Payments.CashfreePayments.Fields.PaymentMethods.UPI")
                                </li>
                               @* <li>
                                    @T("Plugins.Payments.CashfreePayments.Fields.PaymentMethods.Description.CC")
                                </li>
                                <li>
                                    @T("Plugins.Payments.CashfreePayments.Fields.PaymentMethods.Description.DC")
                                </li>*@
                                <li>
                                    @T("Plugins.Payments.CashfreePayments.Fields.PaymentMethods.Description.NB")
                                </li>
                                @*<li>
                                    @T("Plugins.Payments.CashfreePayments.Fields.PaymentMethods.Description.EMI")
                                </li>                                
                                <li>
                                    @T("Plugins.Payments.CashfreePayments.Fields.PaymentMethods.Description.PAYPAL")
                                </li>*@
                               @* <li>
                                    @T("Plugins.Payments.CashfreePayments.Fields.PaymentMethods.Description.CCC")
                                </li>
                                <li>
                                    @T("Plugins.Payments.CashfreePayments.Fields.PaymentMethods.Description.PPC")
                                </li>*@
                               @* <li>
                                    @T("Plugins.Payments.CashfreePayments.Fields.PaymentMethods.Description.PAYLATER")
                                </li>*@
                                <li>
                                    @T("Plugins.Payments.CashfreePayments.Fields.PaymentMethods.Description.Instructions")
                                </li>
                            </ul>
                    </div>
                        
                </div>

               
                
                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>